.search-container {
    display: flex;
    align-items: center;
    margin: 20px 94.13px;
    border-bottom: 2px solid #002F56;
    width: 53.5%;
    padding-bottom: 5px;

  }
  
  .search-label {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #002F56;
    padding-right: 40px;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #F8F9FA;
    width: 500px;
  }
  
  .search-input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-size: 13px;
    color: #AAAAAA;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
  