.filters {
  display: flex;
  margin: 40px 94.13px;
  font-family: 'Roboto';
  font-size: 14px;

}

.label-text {
  margin: 10px 0px;
}

p {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #003057;
}